# Build artifacts
/build-*/
/build_*/
/build/bootstrap/
.bdep/
.bpkg/

# Local default options files.
#
.build2/local/

# Compiler/linker output.
#
*.d
*.t
*.i
*.i.*
*.ii
*.ii.*
*.o
*.obj
*.gcm
*.pcm
*.ifc
*.so
*.dylib
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc

# Test outputs
/static/*.txt
/benchmarks/results/

# Build2 symlinks exes from build dir to src dir for convenient
/unit/certifiable_data_test_augment
/unit/certifiable_data_test_batch
/unit/certifiable_data_test_bit_identity
/unit/certifiable_data_test_merkle
/unit/certifiable_data_test_normalize
/unit/certifiable_data_test_primitives
/unit/certifiable_data_test_prng
/unit/certifiable_data_test_shuffle
